<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='simple-login-database.css') }}">

</head>

<body>
    <!-- For flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    <span>{{ message }}</span>
                    <button type="button" class="close-btn">&times;</button>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}


    <div class="big-container">
        <form action="/register" method="post">
            <div class="login-container">
                <!-- Create a class to encapsulate label and input to allow side by side positioning -->
                <div class="login-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="login-input" placeholder="Enter Name here ... " autocomplete="off" required>
                </div>

                <div class="login-group">
                    <label for="Age">Age :</label>
                    <input type="text" id="age" name="age" class="login-input" placeholder="Enter Age here ..." autocomplete="off" required>
                </div>

                <div class="login-group">
                    <label for="password">Password :</label>
                    <input type="password" id="password" name="password" class="login-input" placeholder="Enter Password here ..." autocomplete="off" required>
                </div>

                <div class="login-group">
                    <label for="position">Position:</label>
                    <input type="text" id="position" name="position" class="login-input" placeholder="Enter position here .. (If no position, enter 'User')" autocomplete="off" required>
                </div>

                <div class="login-group">
                    <input type="submit" class="Register-button" value="Register">
                </div>
            </div>
        </form>

        <p class="bottom">Already have an account?  <a class="bottom" href="{{'/login'}}"> Log In here</a></p>
    </div>
         
           

</body>